#container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
}

#questionSpan {
    padding: 55px;
    border: 5px solid black;
    border-radius: 30px;
    font-size: 45px;
    font-weight: bold;
    font-family: Helvetica;
    background-color: white;
}

#questionContainer {
    display: flex;
    margin: 15px;
}

#subQuestionContainer1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#subQuestionContainer2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.option {
    padding: 55px;
    text-align: center;
    border: 5px solid black;
    margin: 15px;
    font-size: 45px;
    font-weight: bold;
    font-family: Helvetica;
    border-radius: 100px;
    background-color: white;
}

body {
    background-color: transparent;
}